<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>
        <form class="form login-form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-input" type="email" name="emailL" id="emailL" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-input" type="password" name="passwordL" id="passwordL" placeholder="Password">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h2>Sign Up!</h2>
        <form class="form signup-form">
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-input" type="text" name="nameSu" id="nameSu" placeholder="Name">
                </div>
                <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-input" type="email" name="emailSu" id="emailSu" placeholder="Email">
                </div>
                <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-input" type="password" name="passwordSu" id="passwordSu" placeholder="Password">
                </div>
                <div class="form-group">
                <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
        </form>
    </div>
</div>

<script src="../public/js/login.js"></script>